{% extends "base.html" %}
{% block content %}
  <div class="row mt-3">
    <div class="col">
      <form action="{% url 'todoUpdate' todo.pk %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="{{ todo.title }}">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description">{{ todo.description }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
      </form>
    </div>
  </div>
{% endblock content %}